# How to work with TSV Dataset using Pandas:-

#### 1. Import necessary libraries & load data :-

In [1]:
# Libraries:-
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# Dataset into a Pandas DataFrame:-
orders=pd.read_csv("dataset/chips.tsv",delimiter='\t')

###### 2. Explore the Data  or Summary of dataset:
Check the basic information about the dataset, such as the number of rows and columns, data types, and missing values.

In [2]:
# Display basic information about the dataset
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [3]:
# Display summary statistics of dataframe:-
print("Summary statistics of dataframe")
orders.describe().round(2)          # .round() use to set how many digit display after decimal

Summary statistics of dataframe

       order_id  quantity
count   4622.00   4622.00
mean     927.25      1.08
std      528.89      0.41
min        1.00      1.00
25%      477.25      1.00
50%      926.00      1.00
75%     1393.00      1.00
max     1834.00     15.00

In [4]:
# Change fist 5 item price into capital or small

In [5]:
orders.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

In [6]:
orders.item_name.str.lower().head()

0             chips and fresh tomato salsa
1                                     izze
2                         nantucket nectar
3    chips and tomatillo-green chili salsa
4                             chicken bowl
Name: item_name, dtype: object

In [7]:
orders.item_name.str.swapcase().head()

0             cHIPS AND fRESH tOMATO sALSA
1                                     iZZE
2                         nANTUCKET nECTAR
3    cHIPS AND tOMATILLO-gREEN cHILI sALSA
4                             cHICKEN bOWL
Name: item_name, dtype: object

###### 1. Find all chicken item from the dataset.

In [8]:
orders[orders.item_name.str.contains("Chicken",case=False)]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

###### 2.Highest Price of chicken item:-

First change dtypes of item_pricecolumn and replace $.

i) User defined

In [9]:
def convert(x):
    r=x.replace("$"," ")
    r=float(r)
    return r

orders["item_price"]=orders.item_price.apply(convert)

ii) Pre defined

orders['item_price'] = orders['item_price'].str.replace('$','').astype(float)

In [10]:
orders[orders.item_name.str.contains("Chicken",case=False)].sort_values("item_price").max()

order_id                                                           1834
quantity                                                              4
item_name                                            Chicken Soft Tacos
choice_description    [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...
item_price                                                         35.0
dtype: object

In [11]:
orders[orders.item_name.str.contains("Chicken",case=False)].sort_values("item_price",ascending=False)[:1]

,order_id,quantity,item_name,choice_description,item_price
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.0

In [12]:
orders.loc[orders[orders.item_name.str.contains("Chicken",case=False)].item_price.idxmax()]

order_id                                                            511
quantity                                                              4
item_name                                               Chicken Burrito
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
item_price                                                         35.0
Name: 1254, dtype: object

###### 3. Find all missing record & drop it from new dataframe:-

In [13]:
orders.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [14]:
New_orders=orders.dropna()

In [15]:
New_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3376 entries, 1 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            3376 non-null   int64
 1   quantity            3376 non-null   int64
 2   item_name           3376 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          3376 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 158.2+ KB

######  4. Is there any Duplicate Record in this dataset ? If yes, then remove the duplicate records.

### .duplicated()

In [16]:
# Check row wise duplicate record
orders[orders.duplicated()]

,order_id,quantity,item_name,choice_description,item_price
238,103,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
248,108,1,Canned Soda,[Mountain Dew],1.09
297,129,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, G...",11.75
381,165,1,Canned Soft Drink,[Coke],1.25
484,205,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
567,233,1,Canned Soft Drink,[Diet Coke],1.25
617,254,1,Chips,NaN,2.15
684,282,1,Canned Soft Drink,[Coke],1.25
773,319,1,Chicken Bowl,"[Tomatillo-Green Chili Salsa (Medium), Black B...",8.49
908,376,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",8.99
924,381,1,Chicken Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), Cheese]",8.49
1003,412,1,Bottled Water,NaN,1.50
1117,462,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
1203,491,1,Chicken Burrito,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",8.75
1245,507,1,Canned Soft Drink,[Lemonade],1.25
1381,561,1,Canned Soft Drink,[Coke],1.25
1410,573,1,Bottled Water,NaN,1.50
1420,576,1,Barbacoa Bowl,[Roasted Chili Corn Salsa],9.25
1421,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],9.39
1502,610,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
1534,624,1,Chips and Tomatillo-Red Chili Salsa,NaN,2.39
1548,628,1,Chips and Guacamole,NaN,4.45
1612,651,1,Izze,[Blackberry],3.39
1791,724,1,Canned Soft Drink,[Coke],1.25
1792,724,1,Canned Soft Drink,[Coke],1.25
2078,838,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",8.75
2127,856,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2362,940,1,Canned Soft Drink,[Coke],1.25
2448,972,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
2553,1011,1,Canned Soft Drink,[Coke],1.25
2554,1011,1,Canned Soft Drink,[Coke],1.25
2560,1013,1,Chips and Guacamole,NaN,4.45
2576,1020,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95
2662,1057,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2708,1074,1,Chips,NaN,2.15
2717,1078,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
2833,1125,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",8.75
2881,1144,1,Bottled Water,NaN,1.50
2973,1182,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Black...",8.49
2977,1184,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",9.25
3121,1244,1,Chips and Guacamole,NaN,4.45
3430,1377,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95
3637,1454,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, Rice]",8.75
3716,1484,1,Canned Soda,[Dr. Pepper],1.09
3764,1507,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
3829,1534,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",8.75
3924,1574,1,Bottled Water,NaN,1.50
4112,1647,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4155,1660,1,Chips and Guacamole,NaN,4.45
4236,1691,1,Chicken Bowl,[White Rice],8.50
4266,1701,1,Chips,NaN,2.15
4372,1745,1,Chips and Guacamole,NaN,4.45
4463,1778,1,Canned Soft Drink,[Lemonade],1.25
4479,1785,1,Bottled Water,NaN,1.50
4544,1806,1,Bottled Water,NaN,1.50
4570,1817,1,Bottled Water,NaN,1.50
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25

In [17]:
# Delete Duplicate records from dataset:-
New_orders.drop_duplicates(inplace=True)

# index in a  sequential order
New_orders.reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Izze,[Clementine],3.39
1,1,1,Nantucket Nectar,[Apple],3.39
2,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
3,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
4,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
...,...,...,...,...,...
3330,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
3331,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
3332,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
3333,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
3334,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

###### 5. drop [ ] from choice_description :-

In [18]:
orders.choice_description=orders.choice_description.map(lambda x :str(x).lstrip("[]").rstrip("]"))

In [19]:
orders.sample()

,order_id,quantity,item_name,choice_description,item_price
3664,1466,1,Chicken Bowl,"Fresh Tomato (Mild), [Lettuce, Fajita Veggies,...",8.19

###### 6. Create Amount_spent column in last which was the product of quantity & item_price And also add Total amount in last record:-

In [20]:
# Add new column
orders['Amount'] = orders['quantity'] * orders['item_price']  # always insert in last
# orders.insert(3,'Amount',orders.quantity * orders.item_price)  
# using asign

# Add new record
orders.loc[4622]=[" "," "," ",'Total','=',orders['Amount'].sum()]
orders

,order_id,quantity,item_name,choice_description,item_price,Amount
0,1,1,Chips and Fresh Tomato Salsa,nan,2.39,2.39
1,1,1,Izze,Clementine,3.39,3.39
2,1,1,Nantucket Nectar,Apple,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,nan,2.39,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), [Black Beans,...",16.98,33.96
...,...,...,...,...,...,...
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, [Rice, Sour Cream, Cheese,...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, [Fajita Vegetables, Pinto ...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, [Fajita Vegetables, Lettuce",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, [Fajita Vegetables, Pinto ...",8.75,8.75
4622,,,,Total,=,39237.02

###### 7. What is the most common 'item_price' in the dataset?

In [23]:
orders.item_price.value_counts().idxmax()

8.75